/*changing default margin & padding & font,color for page*/
*{
    margin: 10px;
    padding: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size:16px;
    color:rgb(39, 136, 192);
}
/*heading initial width*/
.heading{
    width: 30%;
}
/*logo initial width*/
.logo{
    width: 70%; 
    text-align: right;

}
.logo img{
    width:160px;
}
/*media query for lesser pixel then laptop*/
@media only screen and (max-width:1300px) {
    [class*="heading"]{
        width: 100%;
        text-align: center;
    }
    [class*="clientName"]{
       width:90%;
    }
    [class*="clientNameLabel"]{
        width: 100%;
     }
     [class*="caseNo"]{
        width:90%;
     }
     *{
        font-size:22px;
     }
     [class*="spendTime"]{
        display: block;
        padding-left: 0px !important;
     }
     [class*="supportiveWorkerMeeting"]{
        display: block;
        padding-left: 0px !important;
     }
     [class*="timeLengthTo"]{
        display: block;
     }
}
@media only screen and (max-width:1100px){
    [class*="visitType2"]{
        display:block;
    }
}

/*client name input field*/
#clientName{
    border: 1px solid gray;
    border-radius: 4px;
    height: 35px;
    color:black;
    font-size:large;
    margin-left: 4%;
    margin-right: 5%;
}
/*reducing outline for text input field*/
input[type=text]:focus{
    outline: none;
}
/*border for division 1*/
.div1{
    border:1px solid rgb(191, 191, 191);
    border-radius:4px;
}
/*style for caseNo*/
#caseNo{
    border: 1px solid gray;
    border-radius: 4px;
    height: 35px;
    color:black;
    font-size:large;
    margin-right: 5%;
    margin-left: 4%;
}
/*removing outline for input field date*/
input[type=date]:focus{
    outline: none;
}
/*styling for date input field*/
#date{
    border: 1px solid gray;
    border-radius: 4px;
    height: 35px;
    color:black;
    font-size:large;
    width: 200px;
    margin-left:5%;
}
/*removing outline for time input field*/
input[type=time]:focus{
    outline: none;
}
/*styling for time[From] input field*/
#timeFrom{
    border: 1px solid gray;
    border-radius: 4px;
    height: 35px;
    color:black;
    font-size:large;
    width:100px;
}
/*styling for time[To] input field*/
#timeTo{
    border: 1px solid gray;
    border-radius: 4px;
    height: 35px;
    color:black;
    font-size:large;
    width:100px;
}
/*styling for division 2*/
.div2{
    border:1px solid rgb(191, 191, 191);
    border-radius:4px;
}
/*width for radio button*/
input[type=radio]{
    min-width: 30px;
}
/*textarea border,color margin*/
textarea{
    border:none;
    border-bottom: 1px solid gray;
    color: black;
    margin-top: 20px;
}
/*text area focus outline*/
textarea:focus{
    outline:none;
}
